スレッド情報<><><>元スレッド: {{thread_uri}}<br>{{thread["expire"]}}<>{{thread["title"]}}
{% for post in thread["posts"] %}
    {%- if post["title"] %}{{- post["title"] }} {% endif %}
    {%- if post["name"] %}{{ post["name"] }} {% endif %}
    {%- if post["sod"] != "+" %}{{post["sod"]}}{% endif %}<>
    {%- if post["mail"] %}{{ post["mail"] }}{% endif %}<>
    {{-post["date"]}}
    {%- if post["id"] %} ID:{{post["id"]}}{% endif %}<>
    {%- if post["image"] %}{{image_url_root}}{{post["image"]}}<br>{% endif %}
    {{- post["body"] | safe }}<>
{% endfor %}